@import "tailwindcss";

/* globals.css or in a <style> block */
body {
  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #0f2027);
  background-size: 400% 400%;
  animation: electricGlow 15s ease infinite;
}

@keyframes electricGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
